<header>
    <h1>Informações Acadêmicas</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/prs">Pull Requests</a>
    </nav>
 </header>
<main>
    <h2>Produção Acadêmica</h2>
    <div class="flex-card">
            <p>CV lattes</p>
            <ul>
                <li><a class="link" target="_blank" href="http://lattes.cnpq.br/0670068954238682">CV</a></li>                
            </ul>
    </div>
    <div class="flex-card">
            <p>T.I.</p>
            <ul>
                <li><a class="link" target="_blank" href="https://certificates.digitalinnovation.one/F8039AA6">Introdução a Orientação a Objetos</a></li>
                <li><a class="link" target="_blank" href="https://certificates.digitalinnovation.one/B809B702">Fundamentos de Arquitetura de sistemas</a></li>
                <li><a class="link" target="_blank" href="https://certificates.digitalinnovation.one/A515FCD9">Intridução ao Typescript</a></li>
            </ul>
    </div>
</main>
