 <header>
    <h1>Informações sobre o aspirante a Dev Ivo Pozzani</h1>
    <nav>
    <a href="/prs">Pull Requests</a>
    <a href="/academico">Acadêmico</a>
    </nav>
 </header>
 
 <main>
    <h2>Principais Assuntos</h2>
    <div class="flex-container">
        <div class="flex-card">
            <p>Família</p>
            <ul>
                <li>Pai, Mãe</li>
                <li>3 irmãos</li>
                <li>Nenhum Pet</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Educação</p>
            <ul>
                <li>Superior Completo (Químico)</li>
                <li>SENAI - Eletricista de Manutenção</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Hobbies</p>
            <ul>
                <li>Games</li>
                <li>Séries</li>
                <li>Atividades ao ar livre</li>
                <li>Andar de moto</li>                
            </ul>
        </div>
        <div class="flex-card">
            <p>Metas</p>
            <ul>
                <li>Tornar-se Desenvolvedor</li>
                <li>Pai de Família</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Lar</p>
            <ul>
                <li>Jundiaí - SP</li>
                <li>Ribeirão Preto - SP</li>
                <li>Glasgow - UK</li>
                <li>São Paulo - SP</li>
                <li>São Bernardo do Campo</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Curiosidades</p>
            <ul>
                <li>Minero Criptomoedas</li>
                <li>Já Cenhoço mais a Europa do que o Brasil</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Valores</p>
            <ul>
                <li>Respeito</li>
                <li>Humildade</li>
                <li>Honestidade</li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Trabalho</p>
            <ul>
                <li>Entregado de Jornais</li>
                <li>Eletricista</li>
                <li>Recepcionista de Hostel</li>
                <li>Químico</li>
                <li>Desenvolvedor</li>
            </ul>
        </div>
    </div>
</main>
<%= erb :footer%>
