 <main>
    <h2>Principais Assuntos</h2>
        <div class="flex-container">
            <% @data.parse_json.each do |key, items| %>
            <div class="flex-card">
                    <p><%= key %></p>
                    <ul>
                    <% items.each do |item| %>
                        <li><%= item %></li>
                    <% end %>                
                    </ul>
            </div>
            <% end %>
        </div>
    </div>
</main>
