<header>
    <h1>Pull requests Ivo Pozzani</h1>
    <a href="/">Pagina Inicial</a>
</header>

<main>
    <h2>Encontre aqui minhas contribuições nos projetos em participei</h2>
    <div class="flex-container">
        <div class="flex-card">
            <p>LogParser</p>
            <ul>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/log_parser/pull/1">PR1</a></li>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/log_parser/pull/2">PR2</a></li>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/log_parser/pull/3">PR3</a></li>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/log_parser/pull/5">PR4</a></li>
            </ul>
        </div>
        <div class="flex-card">
            <p>Hello Sinatra</p>
            <ul>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/Hello_Sinatra/pull/1">PR1</a></li>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/Hello_Sinatra/pull/2">PR2</a></li>
                <li><a class="link" target="_blank" href="https://github.com/ivopozzani/Hello_Sinatra/pull/3">PR3</a></li>
                <li><a class="link" target="_blank" href="#">PR4</a></li>
            </ul>
        </div>
    </div>
</main>
<%= erb :footer%>
